@charset "UTF-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Montserrat);
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.myclear {
	clear: both;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 100%;
	min-height: 100vh;
}
#container {
	max-width: 1200px;
	min-height: 100vh;
	margin: 0 auto;
	background-color: rgba(250,250,250,0.7);
	box-shadow: 0px 0px 20px 10px rgba(20, 20, 20, 0.75);
}
header {
	text-align: center;
}
header h1{
	padding: 2%;
	color: #777;
	font-size: 30px;
	line-height: 1;
}
main {
	padding:1%;
}

main a{
	text-decoration: none;
}

/*styles for item small********************************/

.item_small{
	width:23%;
	height: 400px;
	border:1px solid #555;
	border-radius: 10px;
	margin:1%;
	padding:1%;
	text-align: center;
	float:left;
}



.item_small img{
	max-width: 100%;
	max-height: 200px;
	margin: 0 auto;
	
}

.item_small .small_img_holder{
	width:100%;
	height:230px;
}

.item_small .item_id{
	font-size: 16px;
	color:#222;
}

.item_small .item_name{
	font-size: 20px;
	color:#000;
}

.item_small .item_price{
	font-size: 18px;
	color:#900;
	
}

.item_small .item_country{
	font-size: 18px;
	color:#000;

}

.item_small a{
	font-size: 14px;
	color:darkgreen;
}

/*styles for item big********************************/

.item_big{
	width:100%;
	
}


.item_big img{
	max-width: 100%;
	max-height: 600px;
	
	
}

.item_big .big_img_holder{
	width:43%;
	float:left;
	margin:1%;
	text-align: center;
	border:1px solid #555;
	border-radius: 10px;
	padding:1%;
}

.item_big .big_info_holder{
	width:53%;
	float:left;
		margin:1%;
	border:1px solid #555;
	border-radius: 10px;
	padding:1%;
}

.item_big .item_id{
	font-size: 16px;
	color:#222;
}

.item_big .item_name{
	font-size: 20px;
	color:#000;
	padding-bottom: 20px;
}

.item_big .item_price{
	font-size: 18px;
	color:#900;	
	padding-bottom: 20px;
}

.item_big .item_brand, .item_big .item_desc{
	font-size: 18px;
	color:#555;	
	padding-bottom: 15px;
}

.item_big pre{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color:#111;	
	display:block;
	max-width: 90%;
	 white-space:pre-wrap;
  word-break:break-all;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 640px) {
	
	.item_small{
	width:98%;
	height: auto;
	float:none;
}
	
.item_small .small_img_holder{
		height:auto;
}

	.item_small img{
		width: 98%;
	max-height:none;
}
	
.item_big .big_img_holder{
	width:98%;
	float:none;

}

.item_big .big_info_holder{
	width:98%;
	float:none;
}	
	
	
}
